* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 60%;
  margin: auto;
}

a {
  text-decoration: none;
  color:currentColor;
}

.container {
  display: flex;
  justify-content: center;
  
}

.left-container {
  width: 100%;
}

.profile {
  display: flexbox;
  /* flex-direction: column; */
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: rgb(46, 44, 44);
}

.profile
img {
  border-radius: 50%;
  box-shadow: 10px 10px 15px rgb(236, 179, 238);
}


.info {
  width: 100%;
  height: 560px;
  background-color: rgb(254, 217, 255);
  margin: auto;
  border-radius: 10px;
  position: relative;
  box-shadow: 10px 10px 15px pink;
  border: 1px solid rgba(128, 128, 128, 0.199);
}

.title {
  background-color: rgb(63, 61, 61);
  width: 50%;
  padding: 6px;
  color: white;
  text-align: center;
  margin: auto;
  border-radius: 8px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.37);
}

.details {
  width: 50%;
  padding: 20px;
  line-height: 24px;
  display: flexbox;
  text-align: start;
  margin: auto;
}

.contact {
  position: relative;
  bottom: 6px;
}


